/my_scraping.py
/scraping_test.py
/Academic/
/Add a comment/
/Adult Fiction/
/Art/
/Autobiography/
/Biography/
/Business/
/Childrens/
/Christian/
/Christian Fiction/
/Classics/
/Contemporary/
/Crime/
/Cultural/
/Default/
/Erotica/
/Fantasy/
/Fiction/
/Food and Drink/
/Health/
/Historical/
/Historical Fiction/
/History/
/Horror/
/Humor/
/Music/
/Mystery/
/New Adult/
/Nonfiction/
/Novels/
/Paranormal/
/Parenting/
/Philosophy/
/Poetry/
/Politics/
/Psychology/
/Religion/
/Romance/
/Science/
/Science Fiction/
/Self Help/
/Sequential Art/
/Short Stories/
/Spirituality/
/Sports and Games/
/Suspense/
/Thriller/
/Travel/
/Womens Fiction/
/Young Adult/
